[submodule "SmartIrc4net"]
	path = SmartIrc4net
	url = git://git.qnetp.net/smartirc4net.git
[submodule "tools/TextTemplating"]
	path = tools/TextTemplating
	url = git://github.com/wimh/TextTemplating.git
[submodule "tools/gettext-cs-utils"]
	path = tools/gettext-cs-utils
	url = git://github.com/wimh/gettext-cs-utils.git
