[submodule "SmartIrc4net"]
	path = SmartIrc4net
	url = git://git.qnetp.net/smartirc4net.git
[submodule "GitSharp"]
	path = GitSharp
	url = http://github.com/henon/GitSharp.git
[submodule "MonoMac"]
	path = lib/monomac
	url = https://github.com/mono/monomac.git
[submodule "MacCore"]
	path = lib/maccore
	url = https://github.com/mono/monomac.git	
