*~
*.exe
*.exe.mdb
*.userprefs
*.pidb
*.gmo
/SparkleShare/bin
/SparkleShare/obj
/notify-sharp/bin
/notify-sharp/obj
po/POTFILES
Makefile.in
Makefile
POTFILES
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
install-sh
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/Makefile.in.in
po/stamp-it
SparkleShare/AssemblyInfo.cs
build/m4/shave/shave
build/m4/*.m4
build/m4/shave/shave-libtool
Defines.cs
SparkleShare/sparkleshare
po/sparkleshare.pot
SparkleShare/Nautilus/sparkleshare-nautilus-extension.py
