*~
*.swp
*.swo
.DS_Store
*.exe
*.exe.mdb
*.userprefs
*.pidb
*.gmo
*.bak
*.suo
*.sln.cache
*.user
*.resources
Makefile.in
Makefile
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
autom4te.cache/
bin/
obj/
install-sh
libtool
ltmain.sh
missing
build/m4/shave/shave
build/m4/*.m4
build/m4/shave/shave-libtool
SparkleLib/Defines.cs
SparkleShare/Linux/sparkleshare
SparkleShare/Mac/git
SparkleShare/Linux/Nautilus/sparkleshare-nautilus-extension.py
SparkleShare/Linux/Nautilus/sparkleshare-nautilus3-extension.py
gnome-doc-utils.make
/sparkleshare-*
desktop.ini
_ReSharper.*
*.msi
*.wixobj
*.wixpdb
*.wxs
*.dotCover

