<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Text.RegularExpressions" #>

<#
    String VERSION;
    String ASM_VERSION;
    String ASM_FILE_VERSION;
    VERSION = ASM_VERSION = ASM_FILE_VERSION = "0.8.4";

#>

// VERSION=<#= VERSION #>
// ASM_VERSION=<#= ASM_VERSION #>

