<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Product Name='SparkleShare' Id='184950D5-67F6-4D06-9717-7E2F1607A7B0' UpgradeCode='D3DF1D99-87F5-47A7-A349-863DD6E4B73A'
    Language='1033' Codepage='1252' Version='0.8.1' Manufacturer='SparkleShare'>

    <Package Id='*' Keywords='Installer' Description="SparkleShare Setup" Manufacturer='SparkleShare'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='SparkleShare.cab' EmbedCab='yes' DiskPrompt='SparkleShare CAB' />
    <Property Id='DiskPrompt' Value="SparkleShare Bundle CAB Installation" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
          <Directory Id='INSTALLDIR' Name='SparkleShare'>
            <Component Id='SparkleShare.exe' Guid='0DA582D5-4ABE-4251-9F62-E7DEA76F10E1'>
              <File Id='SparkleShare.exe' Name='SparkleShare.exe' Source='!(wix.root)\bin\SparkleShare.exe' KeyPath='yes' DiskId='1' />
            </Component>
            <Component Id='SparkleShareInviteOpener.exe' Guid='0DA582D5-4ABE-4251-9F62-E7DEA76F28E1'>
              <File Id='SparkleShareInviteOpener.exe' Name='SparkleShareInviteOpener.exe' Source='!(wix.root)\bin\SparkleShareInviteOpener.exe' DiskId='1' />
            </Component>
            <Component Id='Libraries' Guid='0DA692D5-4DBE-4251-9F62-E7C1A76F10E1'>
              <File Id='SparkleLib.Git.dll' Name='SparkleLib.Git.dll' Source='!(wix.root)\bin\SparkleLib.Git.dll' DiskId='1' />
              <File Id='Gettext.Cs.dll' Name='Gettext.Cs.dll' Source='!(wix.root)\bin\Gettext.Cs.dll' DiskId='1' />
              <File Id='SparkleLib.dll' Name='SparkleLib.dll' Source='!(wix.root)\bin\SparkleLib.dll' DiskId='1' />
              <File Id='sparkleshare_app.ico' Name='sparkleshare.ico' Source='!(wix.root)\SparkleShare\Windows\Pixmaps\sparkleshare-app.ico' DiskId='1' />
            </Component>
            <Directory Id='MSYSGIT_DIR' Name='msysgit'>
            </Directory>
            <Directory Id='PLUGINS_DIR' Name='plugins'>
            </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
          <Component Id="ApplicationShortcut" Guid="468550D5-67F6-4D06-97A2-7E2F1607A7B0">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="SparkleShare"
                      Target="[INSTALLDIR]SparkleShare.exe"
                      WorkingDirectory="INSTALLDIR"/>
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\Microsoft\SparkleShare" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
      </Directory>
    </Directory>

    <Feature Id='SparkleShareFeature' Title='SparkleShare' Description='SparkleShare' Level='1' AllowAdvertise='no'>
      <ComponentRef Id="SparkleShare.exe" />
      <ComponentRef Id="SparkleShareInviteOpener.exe" />
      <ComponentRef Id="Libraries" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id='msysGitComponentGroup' />
      <ComponentGroupRef Id='pluginsComponentGroup' />
    </Feature>

	<WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>
