<#@ assembly name="System.Configuration" #>

<#
    this.ClassName = "Strings";
    this.ResourceName = "Strings";
    this.NamespaceName = "SparkleShare";
    this.DefaultResourceDir = "po"; 
    this.DefaultFileFormat = "{{culture}}.po";
#>
<#@ include file="..\..\tools\gettext-cs-utils\Gettext.CsUtils\Core\Gettext.Cs\Templates\Strings.tt" #>
