<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Gettext" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=GettextSample; Integrated Security=SSPI;"/>
  </connectionStrings>
  <appSettings>
    <add key="SP.Get" value="GettextGetResourceSet"/>
    <add key="SP.Insert" value="GettextInsertResource"/>
    <add key="SP.Delete" value="GettextDeleteResourceSet"/>
    <add key="Table.Name" value="Strings"/>
    <add key="Table.Fields.Culture" value="culture"/>
    <add key="Table.Fields.Key" value="key"/>
    <add key="Table.Fields.Value" value="value"/>
  </appSettings>
</configuration>