[Desktop Entry]
Type=Application
Name=SparkleShare
Exec=sparkleshare
Icon=sparkleshare
Terminal=false
Categories=Network;FileTransfer;GNOME;GTK;
X-GNOME-Autostart-enabled=true

