[Desktop Entry]
Type=Application
Name=SparkleShare
Exec=sparkleshare
Icon=org.sparkleshare.SparkleShare
Terminal=false
Categories=Network;FileTransfer;GNOME;GTK;
X-GNOME-UsesNotifications=true

