[Desktop Entry]
Type=Application
Name=SparkleShare
Exec=sparkleshare start
Icon=sparkleshare
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
