[Desktop Entry]
Name=SparkleShare
Type=Application
Exec=sh -c \"if type "sparkleshare" > /dev/null; then sparkleshare else xdg-app run org.sparkleshare.SparkleShare fi"
Icon=org.sparkleshare.SparkleShare
Terminal=false
X-GNOME-Autostart-enabled=true

