[Desktop Entry]
Type=Application
Name=SparkleShare
Comment=Self hosted, instant, secure file sync
Exec=sparkleshare start
Icon=sparkleshare
Terminal=false
X-GNOME-Autostart-enabled=true
Categories=Network;
