<#@ assembly name="System.Configuration" #>

<#
	this.ClassName = "Strings";
	this.ResourceName = "Strings";
    this.NamespaceName = "Gettext.Samples.Mvc";
    this.ServerMapPath = true;
#>
<#@ include file="..\..\..\Core\Gettext.Cs\Templates\Strings.tt" #>
