<#@ assembly name="System.Configuration" #>

<#
	this.ClassName = "Strings";
	this.ResourceName = "Strings";
    this.NamespaceName = "Gettext.Samples.Console";
    this.DefaultResourceDir = "Resources"; 
#>
<#@ include file="..\..\Core\Gettext.Cs\Templates\Strings.tt" #>
